.git
.github
.vscode
.idea

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/

backend/.venv/
backend/.env

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

deploy/.env
